//
// Override global variables
//

// Theme colors

$primary:       									#F1AE15;
$primary-hover:    									#fccd60;
$primary-light:    									#faebc7;
$primary-inverse:  									#444444;


$info:       									    #6993FF;
$info-light:    									#E1E9FF;
$info-hover:    									#4A7DFF;
$info-inverse:  									#FFFFFF;

$success:       									#0acc4b;
$success-hover:    									#49d878;
$success-light:    									#E1F0FF;
$success-inverse:  									#FFFFFF;

$gary:  								        	#333232;
// $white:  								        	#ebe8e2;
// $white:  								        	#ebe8e2;
// $text-muted:                                        #0acc4b;

$font-family-base:            						'SANS' ,Poppins, Helvetica, "sans-serif";

// $info:       									    #6993FF;
// $info-light:    									#E1E9FF;
// $info-hover:    									#4A7DFF;
// $info-inverse:  									#FFFFFF;

// $success:       									#3699FF;
// $success-hover:    									#187DE4;
// $success-light:    									#E1F0FF;
// $success-inverse:  									#FFFFFF;
